<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/">
            <h1>Biblioteca</h1>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-book"></i>Livros</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/cadastrar-livro">Cadastrar</a>
                        </li>
                        <li>
                            <a href="#">Alterar</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-user"></i>Usuários</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="#">Buscar</a>
                        </li>
                        <li>
                            <a href="/cadastrar-usuario">Cadastrar</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
